.im{
    padding: 4px;
    background-color: rgb(74, 74, 189);
    color: white;
    border: 1px solid rgb(64, 64, 150);
    border-radius: 12px;
}
.dev{
    
    font-weight: 750;
}
.del{
    margin: 0 auto;
}
.sol{
    margin-right: 10px;

}
.links{
    color: rgb(74, 74, 189) ;
    padding: 6px 100px;
    background-color: rgba(198, 192, 225, 0.97);
    border: 1px solid  rgba(198, 192, 255, 0.97);
    margin-right: 50px;
}
.Preview{
    color: rgb(74, 74, 189) ;
    border: 1px solid rgb(74, 74, 189);
    padding: 8px 40px;
}